

*{
    padding: 0;
    margin: 0;

}
body{
    background-color: black;
}
.main{
    /* background-image: url(images/bg.jpg); */
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/729ce5c2-d831-436a-8c9d-f38fea0b99b3/web/IN-en-20241209-TRIFECTA-perspective_4aef76eb-7d5b-4be0-93c0-5f67320fd878_large.jpg");
    height: 80vh;
    width: 100vw;
    
}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    background-color: black;

}
nav{
    max-width: 90vw;
    justify-content: flex-end;
    margin: auto;
    display: flex;
    height: 60px;
    align-items: center;
}
nav img{
    height: 50px;
    width: 150px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto ;
    margin-right: auto;
    text-align: center;
    color: white;
    position: relative;
    gap: 23px;
    max-width: 30rem;
}
.content> :first-child{
    font-size: 3rem;
    font-weight: 900;

}
.content> :nth-child(2){
    font-size: 24px;
    font-weight: 400;
}
.separation{
    height: 5px;
    background-color: gray;
}
input{
    font-size: 20px;

    color: rgb(205, 200, 200);
    border-radius: 7px;
    height: 40px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.7)
    

    
}
.btn{
    appearance: none;
   font-family: inherit;
    font-optical-sizing: inherit;
    font-size-adjust: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    user-select: none;
    border: 0px;
    cursor: pointer;
    fill: currentcolor;
    position: relative;
    width: auto;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.45rem 1.5rem;
    border-radius: 0.25rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.dropdown{
    background-color: rgba(0, 0, 0, 0.548);
    color: rgb(246, 243, 243);
    height: 30px;
    padding: 5px 15px;
    border-radius: 5px;
}

.first{
    color: white;
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.secimg{
    position: relative;
}
.secimg img{
    width: 555px;
    position: relative;
    z-index: 10;
    padding-top: 5px;
    padding-left: 5px;
}
.secimg video{
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}
section.first>div{
    display: flex;
    flex-direction: column;
    padding: 34px 0px;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}